<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Insert title here</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>

<body>

<!-- navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">칵테일 레시피</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="RecipeUpload">레시피 업로드</a></li>
				</ul>
			</div>
		</div>
	</nav>

<div class="container">
    <div class="row" th:each="RecipeList : ${recipes}">
        <div class="col-md-6 col-lg-3" th:each="recipe : ${RecipeList}">
        	<div class="text-center">
        		<img th:if="${recipe.mainImgPath} != null" 
        		th:src="'images/' + ${recipe.mainImgPath}" width='100' height='100'>
        		<img th:unless="${recipe.mainImgPath} != null" 
        		src='static_images/no_image.jpg' width='100' height='100'>
        		
        		<!-- <a th:href="@{'/RecipeDetail/' + ${recipe.id} + '/' + ${recipe.drinkName}}" th:text="${recipe.drinkName}"></a>-->
        		<a th:href="@{'/RecipeDetail?id=' + ${recipe.id} + '&name=' + ${recipe.drinkName}}" th:text="${recipe.drinkName}"></a>
        	</div>
        </div>
    </div>
</div>

<!-- Optional JavaScript; choose one of the two! -->
<Script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
</body>
</html>